<html>
<head>
    <title>User information</title>
</head>
<body>
    <form name="about_user_form">
        <p align="center">About this user:</p>

        <table width="100%" border="1">

            <tbody>
                <tr>
                <th scope="col">First name<th>
                <th scope="col">Last name<th>
                <th scope="col">Login<th>
                </tr>

                <tr>
                <th scope="col"><input type="text" size="20" value={{name}}<th>
                <th scope="col"><input type="text" size="20" value={{last_name}}<th>
                <th scope="col"><input type="text" size="20" value={{user_login}}<th>
                </tr>
            </tbody>

        </table>

    </form>
</body>
</html>